@import "../../styles/variables.scss";

.usericon {
  position: relative;
  cursor: pointer;
  z-index: 1000;

  ul {
    position: absolute;
    list-style: none;
    padding: 1rem;
    margin: 0;
    right: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    li {
      white-space: nowrap;
      padding: 0.2rem 0.4rem;
      border-radius: $border-radius;
      &:hover {
        background-color: $purple-200;
      }
      form {
        button {
          padding: 0;
          color: $color-headings;
          background-color: transparent;
          font-size: 1rem;
        }
      }
    }
  }
}

.infoForm {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  label {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    input:not([type="checkbox"]),
    textarea {
      border: 1px solid $purple-200;
      &:disabled {
        background-color: lightgray;
        border: 1px solid $purple-100;
        user-select: none;
      }
    }
  }
}
