.userAvatar {
  width: fit-content;

  aspect-ratio: 1 / 1;
  img {
    border-radius: 10em;
    border: 3px solid $color-bg;
    box-shadow: $box-shadow;
  }

  .fallback {
    padding: 0.4rem;
    font-weight: bold;
    background-color: $orange-200;
    border-radius: 10em;
    border: 3px solid $color-bg;
    box-shadow: $box-shadow;
  }
}
