:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --background-gradient: radial-gradient(
    circle at center right,
    rgb(255, 242, 251),
    rgb(241, 241, 230)
  );
}

*:not(dialog) {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  background: $background-gradient;
  overflow-x: hidden;
}

html,
body {
  position: relative;
  max-width: 100vw;
  min-height: 100dvh;
  color: $color-headings;
}

body main {
  margin: 0 auto;
  padding: 0 1rem;
}

hgroup {
  text-align: center;
  margin: 1rem 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  width: fit-content;
  padding: 0.3rem 0.6rem;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  background: $purple-200;
  color: $color-bg;
}

button:hover {
  background: $purple-800;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="datetime-local"],
textarea {
  font-family: inherit;
  width: 100%;
  padding: 0.5rem 0.8rem;
  border: none;
  border-radius: $border-radius;
  background: $purple-100;
  color: $color-headings;
}

input[type="checkbox"] {
  cursor: pointer;
  width: 1rem;
  border: none;
  border-radius: $border-radius;
  color: $color-headings;
  accent-color: $purple-800;
}

input[type="checkbox"]:disabled {
  cursor: auto;
}

dialog {
  width: 100%;
  max-width: 500px;
  border: none;
  padding: 1rem;
  border-radius: $border-radius;
  background: $purple-100;
  color: $color-headings;
}

.box {
  padding: 1rem;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  background-color: $color-bg;
}

.styledBtn {
  background-color: $color-headings;
  color: $color-bg;
}

.marked {
  color: $color-bg;
  background: linear-gradient(
    90deg,
    rgba(184, 183, 224, 1) 0%,
    rgba(223, 183, 181, 1) 100%
  );
  padding: 0.15rem 0.3rem;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
}

.loading-wrapper {
  min-height: 50vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
