.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  height: 10vh;
  nav {
    ul {
      list-style: none;
      display: flex;
      gap: 1rem;
    }
  }
  > div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
.textLogo {
  position: relative;
  padding: 0.1rem 0.35rem;
  border-radius: $border-radius;
  background-color: $color-headings;
  color: $color-bg;
  font-size: 1.2rem;
  font-weight: 700;
  &::after {
    position: absolute;
    content: "beta";
    bottom: -0.8rem;
    left: 0.3rem;
    font-size: 0.6rem;
    width: fit-content;
    text-align: center;
    color: $color-headings;
  }
}

.dropdownTrigger {
  cursor: pointer;
}

.dropdown {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  .item {
    white-space: nowrap;
    padding: 0.2rem 0.4rem;
    border-radius: $border-radius;
    &:hover {
      outline: none;
      background-color: $purple-200;
    }
    button {
      padding: 0;
      color: $color-headings;
      background-color: transparent;
      font-size: 1rem;
    }
  }
}
.dropdownContent {
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}
.dropdownContent[data-state="open"] {
  animation: slideUpAndFade 290ms ease forwards;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(3px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
