.loginWrapper {
  width: 50%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  input {
    flex: 2;
  }
  button {
    flex: 1;
    width: fit-content;
  }
}
.tabsWrapper {
  display: flex;
  flex-direction: column;
  width: clamp(2ch, 400px, 95vw);
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  background-color: $color-bg;
}
.tabsList {
  display: flex;
  button {
    flex: 1;
    padding: 1rem;
    background-color: transparent;
    color: $color-headings;
    border-radius: 0;
    &[data-state="active"] {
      border-bottom: 1px solid $color-headings;
    }
  }
}

.tabsContent {
  padding: 1rem;
}
